*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:black;
color:white;
}

header{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
url(images/hero.jpg);
background-size:cover;
background-position:center;
}

nav{

display:flex;

justify-content:space-between;

padding:20px 60px;

}

nav h2{

color:red;

font-size:35px;

}

nav button{

background:red;

color:white;

padding:10px 20px;

border:none;

cursor:pointer;

}

.hero{

text-align:center;

margin-top:180px;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

}

.hero p{

margin-bottom:20px;

}

.hero input{

padding:15px;

width:300px;

}

.hero button{

padding:15px 20px;

background:red;

color:white;

border:none;

}

.movies{

padding:50px;

}

.movie-row{

display:flex;

gap:20px;

overflow:auto;

margin-top:20px;

}

.movie-row img{

width:250px;

transition:.3s;

cursor:pointer;

}

.movie-row img:hover{

transform:scale(1.08);

}

footer{

text-align:center;

padding:30px;

background:#111;

}